<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Document</title>
</head>
<body>
<div class="container" id="app">
        <header>
            <div class="menu">
                <div class="centopercento-upper">
                    <div class="center-top">
                        <div class="upper-menu">
                            <div class="left">
                                <i class="fas fa-phone"></i>
                                <p class="number">Call us for a Free Quote:  1.800.555.6789</p>
                            </div>
                            <div class="right">
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-instagram"></i>
                                <i class="fab fa-youtube"></i>
                            </div>
                        </div> 
                    </div>

                </div>
               
                

                <div class="centopercento-lower">
                    <div class="center-bottom">
                        <div class="lower-menu">
                            <div class="left">
                                <img src="./images/logo.txt" alt="">
                            </div>

                            <ul class="lista">
                                <li v-for="punto in lista"><strong><a href="#">{{punto.message}}</a></strong></li>
                            </ul>
    
                        </div> <!--8vh-->
                    </div>

                </div>
               
            
               
            
                
            </div>

        </header>



        <main>
             <!-- section 1 -->
            <section>
                <div class="post">
                    <div class="center-post">
                        <strong><p class="text">MOVING WITHOUT THE HASSLE</p></strong>
                        <h1>WE MAKE IT SIMPLE</h1>
                        <strong><p class="text last"> PROFESSIONAL SERVICE WITH QUALITY AND CUSTOMER SATISFACTION</p></strong>  
                    </div>
                   
                 
                </div> 

            </section>

            <!-- section 2 -->
            <section>
                <div class="foot_post">
                    <i class="far fa-paper-plane"></i><h3>GET A FREE QUOTE ONLINE NOW!</h3>
                </div>

            </section>

            <!-- section 3 -->
            <section>
                <div class="headacheFree">
                    <div class="upper-half">
                        <strong><p>HEADACHE FREE</p></strong>
                        <h1 class="pr">Award Winning Moving Company</h1>
                    </div>
                    <div class="lower-half"> 
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac augue. Orci varius natoque penatibus et magnis dis parturient montes, ridiculus mus. Aliquam enim leo,
                            condimentum facilisis nulla sed, cursus arcu. Aliquam enim leo.</p>
                        <div class="button">
                            <a href=""><strong>READ OUR TESTIMONIALS</strong></a>

                        </div>
                    </div>
                   
                        

                  

                  
                </div>
                
        
            </section>

            <!-- section 4 -->
            <section>
                <div class="areProfessional">
                    <div class="upper-half">
                        <strong><p>WE ARE A PROFESSIONAL</p></strong>
                        <h1>Full-Service Solution</h1>
                        <div class="flex">
                            <div class="bflex one">
                                <img src="./images/avada-movers-serviceonephoto-final-400x255.jpg" alt="">
                                <div class="bianco">
                                    <h2>Two Man Teams</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac consectetur augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    <div class="button block">
                                        <a href="">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                            <div class="bflex two">
                                <img src="./images/avada-movers-servicetwophoto-final.jpg" alt="">
                                <div class="bianco">
                                    <h2>We Do All The Lifting</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac consectetur augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    <div class="button block">
                                        <a href="">READ MORE</a>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="bflex">
                                <img src="./images/avada-movers-servicethreephoto.jpg" alt="">
                                <div class="bianco">
                                    <h2>Coast To Coast</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac consectetur augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    <div class="button block">
                                        <a href="">READ MORE</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <!-- section 5 -->
            <section>
                <div class="move-with">
                    <div class="square">
                        <h4>WE REMOVE THE HEADACHE FROM MOVING</h4>
                        <h1>Move With Ease</h1>
                        <div class="hr"></div>
                        <div class="paragrafo">
                            <div class="p">With our super simple service we can take you from getting a quote, </div>
                            <div class="p">through to being in your new home with all of
                            your belongings
                           </div>
                           <div class="p Last">securely packed and safely delivered,
                            even in the rooms of your choice.
                           </div>

                        </div>
                        

                        <div class="button list">
                            <p><a href="">Get A Free Quote Now</a></p>
                        </div>
                        

                    </div>

                </div>
            </section>

            <!-- section 6 -->
            <section>
                <div class="happyCustomer">
                    <div class="happyText">
                        <p><strong>HAPPY CUSTOMERS</strong></p>
                        <h2>Testimonials</h2>
                        <div class="flexBis">
                            <div class="face">
                                <div class="bisFce">
                                    <img src="https://avada.theme-fusion.com/movers/wp-content/uploads/sites/108/2018/06/avada-movers-johndoe-final-200x200.jpg" alt="">
                                </div>
                                <p><strong>John Doe</strong></p>
                                <div class="Pface">
                                    <p><em>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus dolor, aliquet sed maximus et, vestibulum pulvinar leo. Vivamus varius pretium fermentum.”</em></p>
                                </div>
                                
                                
                            </div>
                            <div class="face">
                                <div class="bisFce">
                                    <img src="https://avada.theme-fusion.com/movers/wp-content/uploads/sites/108/2018/06/avada-movers-janedoe-final.jpg" alt="">
                                </div>
                                <p><strong>Alicia Keys</strong></p>
                                <div class="Pface">
                                    <p><em>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus dolor, aliquet sed maximus et, vestibulum pulvinar leo. Vivamus varius pretium fermentum.”</em></p>
                                </div>
                                
                                
                            </div>
                            <div class="face">
                                <div class="bisFce">
                                    <img src="https://avada.theme-fusion.com/movers/wp-content/uploads/sites/108/2018/06/avada-movers-johnsmith-final.jpg" alt="">
                                </div>
                                <p><strong>Rob Roy</strong></p>  
                                <div class="Pface">
                                    <p><em>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus dolor, aliquet sed maximus et, vestibulum pulvinar leo. Vivamus varius pretium fermentum.”</em></p>
                                </div>
                            </div>
                        </div>
                        <div class="button BH">
                            <p ><a href="">Read More Testimonials</a></p>
                        </div>

                        
                       
                            
                      

                    </div>
                    

                </div>
            </section>

            <!-- section 7 -->
            <section>
                <div class="Request">
                    <h2>Request A Free Quote</h2>
                    <div class="RequestP">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac consectetur augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    </div>
                    <div class="button rebot">
                        <p><a href="">Click here</a></p>
                    </div>
                </div>
                <div class="greenLine"></div>
            </section>

            <!-- section 8 -->
            <footer>
                <div class="Lastsection">
                    <div class="upper-foot">
                        <div class="firststline">
                            <div class="blocchi">
                                <div class="text-space">
                                    <h4>ABOUT</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallis ex ut sem accumsan vehicula. Integer elit arcu, hendrerit id sapien ut, facilisis accumsan arcu.</p>

                                </div>
                                <img src="./images/logo.txt" alt="">
                            </div>
                            <div class="blocchi">
                                <h4>AVADA MOVERS</h4>
                                <div class="list-container">
                                    <ul class="listaBis">
                                        <li v-for="puntobis in listaBis"><a href=""><i class="fas fa-angle-right"></i>{{puntobis.text}} </a></li>
                                    </ul>

                                </div>
                            </div>
                            <div class="blocchi">
                                <h4>RECENT POSTS</h4>
                                <div class="list-container">
                                    <ul class="listaTRIS">
                                        <li v-for="puntoTRIS in listaTRIS"><a href=""><i class="fas fa-angle-right"></i>{{puntoTRIS.textTRIS}} </a></li>
                                    </ul>


                                </div>

                            </div>

                        </div>
                    </div>
                   

                </div>
            </footer>


           

           
            
        

        </main>
        


    </div>
    
    
    <script src="javascript.js"></script>
</body>
</html>